@font-face {
  font-family: 'sagak';
  src: url('../../assets/font/sagak.ttf') format('truetype');
}

.headerLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  border-bottom: 1px solid black;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.backBtnBox,
.profileImgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35px;
}

.profileImgBox {
  position: relative;
}

.mainTitleBox {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 490px;
}

.headerLayout h1 {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  font-family: 'sagak';
}

.backBtn {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.profileImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.profileImg:hover {
  cursor: pointer;
}
