.text-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.title-box,
.input-box,
.helper-text-box {
  display: flex;
  justify-content: start;
  width: 350px;
}

.input-title {
  font-weight: 700;
  font-size: 15px;
}

.text-input-wrapper input {
  width: 355px;
  height: 33px;
  border: 1px solid black;
  border-radius: 4px;
  padding-left: 10px;
}

.helper-text {
  font-weight: 400;
  font-size: 12px;
  color: red;
}
