@font-face {
  font-family: 'sagak';
  src: url('../../assets/font/sagak.ttf') format('truetype');
}

.header-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  border-bottom: 1px solid black;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.back-btn-box,
.profile-img-box {
  display: flex;
  justify-content: center;
  width: 35px;
}

.main-title-box {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
}

.header-layout h1 {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  font-family: 'sagak';
}

.back-btn {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
